html, body {
  margin: 0;
  padding: 0;
}

body {
    /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 500px) {
    .header_sec {
        font-size: 1.5em;
    }
}
.header_sec {
  background-image:
     url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/259845/sparkler1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid .8em #FFCF33;
  border-bottom: solid .8em #FFCF33;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size:1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.toptext {
  text-align: center;
  color: #FFCF33;
  font-size: 1.5em;
  margin-top:10em;
  margin-bottom: 0.1em;
}

.topheader {
  text-align: center;
  color: #FFCF33;
}
/*
padding: 25px 50px;

    top and bottom paddings are 25px
    right and left paddings are 50px */
.intro_sec, .from_sec, .about_sec {
  font-size: 1.2em;
  /* top bottom 0 right left 6em */
  padding:0 6em;
  text-align:justify left; 
  font-family: "Gentium Book Basic", Georgia, serif;
}

/*.from_sec, .about_sec {
  border-top-style: solid;
  border-top-color: #FFCF33;
  border-top-width: 1em;
} */

.bottom_sec {
 background-color:gray;
 text-align:center;
 /* top bottom 0 right left 6em */
 padding: 2em 0;
 font-size: 1.2em;
 font-family:verdana;
 /*border-top-style: solid;
 border-top-color: #FFCF33;
 border-top-width: 1em; */
}

.social > li {
    display: inline-block;
}
